#form {
    float: left;            
}
body {
    background-color: #f4effb;
}
h1 {
    text-align: center;
}

div, h1 {
    color: #502989;
}

#mid_1, #end_1 {
    color: #710193;
    font-size: 20px;
    font-weight: 600;
}
#mid_2, #end_2 {
    color: #710193;
    font-size: 16px;
    font-weight: 500;
}

#BAB_allsee, #BAB_allsee_return {
    padding: 5px;
    background: linear-gradient(100deg, rgb(255, 199, 199), rgb(166, 181, 255));


    color: white;
    text-decoration: none;
    border-radius: 10%;
    
    box-shadow:
        0px 0px 50px 10px rgba(255, 188, 188, 0.34),
        0px 0px 50px 10px rgba(159, 174, 245, 0.34);
}

/* #mid_2 {
    border-style: solid;
    border-width: 3px;
    border-radius: 10%;
} */

/*
--선택자--
#~{}: id () id는 어느 고유한 태그에게 주는거
.~{}: class (한번에 여러 클래스명 부여 가능) class여러 공통된 태그의 묶음이고
~{}: tag
*/